.service {
  position: relative;
  height: 100vh;
  background-color: rgb(12, 88, 155);
  /* min-height: 800px; */
  padding: 180px 0 210px;
}

.service .inner {
  height: 100%;
}

.service-title {
  font-size: 38px;
  text-align: center;
  margin-bottom: 38px;
}

.service-title span {
  /*글자바꾸기 도시락통*/
  color: #3a68b2;
  font-family: "Godo", "notokr";
}

.service-wrap {
  width: calc(100% -20px * 2);
  display: grid;
  grid-template-columns: 1fr 1fr; /*grid 반반 나누겠다*/
  grid-auto-rows: minmax(100px, auto);
  gap: 20px;
  background-color: coral;
}

.service-box-1 {
  position: relative;
  grid-row: 1/3;
  /* 700 / 1420 * 100 = 49.2957vw */
  height: 49.29vw;
  max-height: 680px;
  background-color: red;
}
.service-bg {
  position: absolute;
  top: 0;
  left: 0;
}
.service-bg-1 {
  width: 100%;
  height: 100%;
  background: url("../images/images/main_service_img1.jpg") no-repeat center;
  background-size: cover;
}
.service-box-2 {
  position: relative;
  overflow: hidden;
}

.service-bg-2 {
  width: 100%;
  height: 100%;
  background: url("../images/images/main_service_img2.jpg") no-repeat center;
  background-size: cover;
}

.service-wrap a {
  display: block;
  width: 100%;
  height: 100%;
  display: grid;
  align-content: end;
  padding: 30px;
}

.service-bg-3 {
  display: block;
  width: 100%;
  height: 100%;
  background: url("../images/images/main_service_img3.jpg") no-repeat center;
  background-size: cover;
}

.service-box-wrap {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  z-index: 99; /**/
  color: #fff;
}

.service-box-title {
  font-size: 26px;
  margin-bottom: 3px;
}
.service-box-desc {
  font-size: 17px;
  font-weight: 300;
  opacity: 0.8;
}

.nobr {
  display: none;
}

.service-box-bt {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 140px;
  padding: 7px 15px 7px 15px;
  margin-top: 20px;
  background: none;
  text-align: center;
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.3);
}

